.ctm-scroll {
    overflow: hidden;
    height: 100%;
    position: relative;
    .panel-content &{
        height: calc(100% - 53px);
    }
    .holder{
        padding: 2px;
    }
}
.ctm-scroll.noselect * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.ctm-scroll-holder {
    overflow-y: scroll;
    height: 100%;
}
.ctm-scroll-frame {
    overflow: hidden;
}
.ctm-scroll-bar-active .ctm-scroll-frame {
    padding-right: 6px;
}
.ctm-scroll-area {
    width: 6px;
    padding: 1px;
    background: #494949;
    z-index: 10;
    top: 0;
    right: 0;
    position: absolute;
    height: 100%;
}
.ctm-scroll-area-frame {
    height: 100%;
    position: relative;
}
.ctm-scroll-bar {
    border-radius: 6px;
    position: absolute;
    top: 0;
    width: 100%;
    background: #aeaeae;
    cursor: pointer;
}
.ctm-scroll-show {
    display: block;
}
.ctm-scroll-hide {
    display: none;
}